---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <h1>Contacto</h1>
    <a href="https://github.com/rafael20044" target="_blank"><img src="/img/github.png" alt="logo de github">
        GitHub
    </a>
    <a href="https://www.linkedin.com/in/rafael-barragan-acevedo-7785bb216/" target="_blank"><img src="/img/linkedin.png" 
        alt="logo de linkedin">
        Linkedin
    </a>
</Layout>

<style>
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color--cuaternario);
    }
</style>