---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Educación">
    <h1>Educación</h1>
    <p>
        <strong>Tecnología en desarrollo de sistemas de información y software</strong> 
        fundacion universitario Colombo internacional Unicolombo, 2023 - 2025
    </p>
    <p>
        <strong>Certificado formación Java y Spring Boot</strong> <br>
        <a href="https://app.aluracursos.com/degree/certificate/811e2847-48bf-4884-ad75-d06da0216278?lang"
        target="_blank"
        >
    
            Alura latam
        </a>
    </p>
    <p>
        <strong>Formación Java y Spring Framework G7 - ONE</strong> <br>
        <a href="https://app.aluracursos.com/degree/certificate/b9dcf1d2-6291-496e-97b5-6fde79294683?lang"
        target="_blank"
        >
            Alura latam
        </a>
    </p>
</Layout>

<style>
    a{
        color: var(--color--cuaternario);
    }
    p{
        text-align: center;
    }
</style>