---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mi">
    <h1>Sobre mi</h1>
    <p>
        ¡Hola! Soy Rafael, un estudiante de tecnología en desarrollo de sistemas de información y software<br> 
        apasionado por la tecnología. Actualmente, estoy enfocado en: Trabajando en mi formación académica en <br>
        ingeniería en sistemas. Aprendiendo constantemente sobre nuevas tecnologías y metodologías. Buscando <br>
        colaborar en proyectos interesantes relacionados con desarrollo de software. Buscando ayuda y aprendizaje<br>
        continuo en el mundo de la ingeniería en sistemas.
    </p>
</Layout>

<style>
    p{
        text-align: center;
    }
</style>