---
interface Props{
	title: string;
};

const {title} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/img/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/">Home</a>
			<a href="/sobreMi">Sobre mí</a>
			<a href="/proyectos">Proyectos</a>
			<a href="/experiencia">Experiencia laboral</a>
			<a href="/educacion">Educación</a>
			<a href="/contacto">Contactos</a>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root{
		--main-color:#F8FAFC;
		--color-secundario:#D9EAFD;
		--color-terciario:#000;
		--color--cuaternario:#000;
	}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body{
		font-family: 'Roboto', sans-serif;
		background-color: var(--main-color);;
	}

	header{
		background-color: var(--color-secundario);
		padding: 1rem;
		display: flex;
		justify-content: space-around;
	}

	header a{
		text-decoration: none;
		color: var(--color--cuaternario);
	}

	main{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 90vh;
		flex-direction: column;
		gap: 1.5rem;
		color: var(--color-terciario);
	}
</style>